{
  "env": {
    "commonjs": {
       "presets": [
         ["@babel/preset-env", {
           "shippedProposals": true,
           "useBuiltIns": false,
           "targets": {
             "node": "6.11.3",
             "browsers": ["last 2 versions"]
           }
         }]
       ],
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "module": false,
          "useBuiltIns": false,
          "targets": {
            "node": "8.9.0"
          }
        }]
      ],
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-spread"
  ]
}
